[submodule "lib/panoptic-v1.1"]
	path = lib/panoptic-v1.1
	url = https://github.com/panoptic-labs/panoptic-v1-core.git
	branch = v1.1.x
[submodule "lib/boring-vault"]
	path = lib/boring-vault
	url = https://github.com/whoislewys/boring-vault
  branch = main
[submodule "lib/forge-safe"]
	path = lib/forge-safe
	url = https://github.com/whoislewys/forge-safe
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
